requests
html5lib
bs4
boto3
pandas
numpy
torch
scikit-learn==1.3.2
python-telegram-bot
pymorphy2
pytest
pytest-asyncio
coverage
flake8
fasttext-wheel
mlflow
dvc-s3
gensim
uvicorn
fastapi
aioredis
python-multipart
